h1 {
    font-family:'Spartan',sans-serif;
    margin:auto;
    color:rgb(129, 22, 129);
    font-weight: 500;
  }

h3 {
    font-family: Spartan;
    font-weight: 500;
  }

.class{
    background-color: Very Dark Magenta; 
}