h1{
    font-size: 50px;
    font-weight: 800;
    color: hsl(300, 43%, 22%);
    /* align-self: center; */
    /* text-align: center; */

}

p1{
    font-size: medium;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border: 2px solid black;
    height: 100px;
    border-bottom: 0.5px solid black;padding: 10px;

}

h3{
    font-size: 25px;
    align-self: center;
    text-align: center;
    font-style: normal;

}

.one{
    font-size: medium;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border: 2px solid black;
    height: 25px;
    border-bottom: 0.5px solid black;padding: 10px;


}
p{
    font-size: large;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border: 2px solid black;
    height: 225px;
    padding: 10px;
}
p2{
    background-color: white;
    font-size: large;
    color: hsl(300, 43%, 22%);
    border: 2px solid black;
    height: 50px;
    padding: 10px;
    border: 10px solid hsl(300, 43%, 22%);
   


}

.col-sm-4{
    background-color: Very Dark Magenta; 
}